<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbwh.xj.myblog.dao.ArticleMapper" >
     <resultMap id="ResultStats" type="java.util.Map" >
        <result column="create_date" property="create_date" jdbcType="VARCHAR" javaType="String"/>
        <result column="count" property="count" jdbcType="INTEGER" javaType="Integer"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id, article_title, userid, article_type, article_label
    </sql>

    <select id="selectStatsByCreateDate" resultMap="ResultStats" >
        select create_date, count(*) as `count` from (
            select id, DATE_FORMAT(create_time,'%Y年%m月') as create_date
                from t_article where userid = #{userid}
        ) result group by create_date
    </select>

    <select id="selectArticlesByReadCount" resultType="article">
        select a.*
          from t_article a, t_article_stat b
	      where a.userid = #{userid} and a.id = b.article_id
	      order by b.read_count desc
    </select>

    <!-- <select articleId="getOne" parameterType="java.lang.Long" resultMap="BaseResultMap" >
        SELECT 
       <include refid="Base_Column_List" />
	   FROM users
	   WHERE articleId = #{articleId}
    </select>

    <insert articleId="insert" parameterType="com.neo.entity.UserEntity" >
       INSERT INTO 
       		users
       		(userName,passWord,user_sex) 
       	VALUES
       		(#{userName}, #{passWord}, #{userSex})
    </insert>
    
    <update articleId="update" parameterType="com.neo.entity.UserEntity" >
       UPDATE 
       		users 
       SET 
       	<if test="userName != null">userName = #{userName},</if>
       	<if test="passWord != null">passWord = #{passWord},</if>
       	nick_name = #{nickName}
       WHERE 
       		articleId = #{articleId}
    </update>
    
    <delete articleId="delete" parameterType="java.lang.Long" >
       DELETE FROM
       		 users 
       WHERE 
       		 articleId =#{articleId}
    </delete> -->

</mapper>